{% extends 'layout.html' %}

{% block content %}
<section class="login pt-3">
  <div class=" container mt-5">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <h2>Login</h2>
      </div>
     
        <form action="{% url 'accounts:login' %}" method="post">
          {% csrf_token %}
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-2  ">
              <div class="form-group mt-2">
                <input type="text" class="form-control" placeholder="Username" name="username">
              </div>
              <div class="form-group mt-2">
                <input type="password" class="form-control border-outline-none" placeholder="Password" name="password">
              </div>  
          <button class="btn btn-outline-white login-btn " type="submit">Submit</button>
            </div>
         </div>
        </form>

      

    </div>
    
  </div>
</section>

{% endblock %}