{% extends 'layout.html' %}

{% block content %}
<div class="contianer">
  <div class="row justify-content-center">
    <h1>Sign up</h1>
    <form action="{% url 'accounts:signup' %}" class="sign-form" method="post">
      {% csrf_token %}
      <div class="col-md-12 mt-5">
        <div class="shadow-none mt-3">
          {{form}}
        </div>
      </div>
      <button class="btn btn-outline-white" name="submit"type="submit">Submit</button>
      
    </form>
  </div>
</div>


 

{% endblock %}
