body{
  margin: 0;
  padding: 0;
}


.login{

margin-top:100px;
  
}

form .login-btn{
  color: #fff;
  background: rgb(24, 245, 135);
  padding:10px;
  border: 4px solid transparent;
  margin-top:4px;
  justify-self: center;
}

.container h2{
  color: rgb(24, 245, 135);
  font-size: 2.5rem;
}

.container .navbar-brand{
  margin-left:40px;
  color:white;
}