*{
padding:0
margin:0;
list-style:none;
text-decoration: none;
}

body{

color:#111111;
background:#fff;
font-family:fantasy;
}

.logo{
font-weight:800;
font-size:35px;
line-height:80px;
padding:0 100px;
color:#111111 !important;
}


nav{

height:80px;
width:100%;
background:#87CEEB;
position:fixed;
z-index:1000 !important;
transition:0.5s;
top:0;
color: #111111 !important;


}


.bar,.blue{
color: #111111;
background:#87CEEB;
}

nav ul{

float:right;
margin-right:40px;
line-height:80px;
transition: 6s;
z-index:1999;
}


nav li{

display:inline-block;
margin:0 8px;
line-height:80px;
}

nav a{
color:#111111 !important;
text-decoration:none !important;
text-transform:uppercase;
font-size:20px;
line-height:80px;
border:1px solid transparent;
padding:7px 10px;
border-radius:3px;
font-weight:700;
}

nav a .active, nav a:hover{

color:black;

}

 .fa-bars{

font-size:25px;
margin-right:40px;
line-height:80px;
position:fixed;
top:0;
right:0;
display:none;
color :#111111;
z-index:1000 !important;
}

.show{

left:0;
background:#fff;
color: #fff !important;
}

.adbtn{
  background:#ff6400;
}



.fa-bars{

position:fixed;
right:0;
top:0;
line-height:80px;
margin-right:30px;
font-size:29px;
display:none;
}

.fa{
font-size:25px;
color:#111111;
}



.hero{
color:#111111;
background-image:linear-gradient(290deg,#abdcff 60%,#0396ff 40%);
background-position: center center;
 background-size:cover;
background-repeat:no-repeat ;
position:relative;
}

.hero .row{
  min-height:800px;
  height:100% ;
}

.hero h2, .hero h1{
font-size:40px;
font-weight:900;

}

.hero-btn{
  padding:20px;
  color:#ffffff;
  background:#f5576c;
  border:1px solid transparent;
}


.h-btn{
  background:transparent;
  border:1px solid #111111 !important;
  padding:20px;
}


.intro{
  padding: 60px 0;
}


.intro h3{
  display: block;
  font-size:40px;
}


.intro .fa{
  font-size:36px;
  padding-right: 4px;
}

.overlay-mf{

top:0;
left:0;
right:0;
bottom:0;
background:#111111;
position:absolute;
width:100%;
height:100%;
opacity:.1;
}


footer{

background:#87CEEB;
color:#ffffff;
}


footer .row h3{


font-size:2.2rem;

}

footer .btn{

padding:16px;
background:#42c5f5;
border-radius:7px;
margin-bottom:10px;
margin-top:20px;
}


footer .btn:hover{
transform: scale(1.03);
}






@media(max-width:1048px){

.logo{
font-size:32px;
padding-left:60px;
}

.nav ul{

margin-right:20px;
}
nav-a{
font-size:17px;

}



}




@media(max-width:900px){
.fa{
display:block;

}

.logo{

font-size:25px;
padding-left:65px;
z-index: 1000!important;
}

nav ul , .b-nav{
position:fixed;
width:100%;
height:70%;
top:80px;
left:-700px;
text-align:center;
float:none;
padding-left:0px;
transition:0.5s;
overflow:hidden;
z-index:1999;
}

nav li , .b-nav li{

display:block;
font-size:15px;
}

.rd{
  margin-top: 50px !important;
}


}


