{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>iGram</title>
	<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %} ">
	<link rel="stylesheet" href='{% static "lib/lightbox/css/lightbox.min.css" %}'>
	<link rel="stylesheet" href="{% static 'aos/aos.css' %}">
  </head>
</html>
<body>
 
	<div class="header mt-3 pt-3 " data-aos="fade-right" data-aos-delay="100" >
		<h2>
			iGram
		</h2>
	</div>

{% block content %}

{% endblock %}


<script src="{& static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  </body>
</html>